title = "depmap-omics-wgs config"

gcp_project_id = "depmap-omics"
gumbo_env = "prod"
uuid_namespace = "00000000-0000-0000-0000-000000000000"
dry_run = false

[terra]
repo_namespace = "cds-pipelines"
workspace_namespace = "broad-firecloud-ccle"
workspace_name = "depmap-sj-wgs-align"
legacy_workspace_namespace = "broad-firecloud-ccle"
legacy_workspace_name = "DepMap_WGS_CN"

[terra.align_wgs_sample]
method_namespace = "cds-pipelines"
method_name = "align_wgs_sample"
method_config_namespace = "cds-pipelines"
method_config_name = "align_wgs_sample"
method_synopsis = "Run WARP GDC single-sample preprocessing workflow"
workflow_wdl_path = "./workflows/align_wgs_sample/align_wgs_sample.wdl"
method_config_json_path = "./workflows/align_wgs_sample/align_wgs_sample.json"
workflow_inputs_json_path = "./workflows/align_wgs_sample/align_wgs_sample_inputs.json"

[terra.infer_msi_status]
method_namespace = "cds-pipelines"
method_name = "infer_msi_status"
method_config_namespace = "cds-pipelines"
method_config_name = "infer_msi_status"
method_synopsis = "Infer MSI status of WGS sample"
workflow_wdl_path = "./workflows/infer_msi_status/infer_msi_status.wdl"
method_config_json_path = "./workflows/infer_msi_status/infer_msi_status.json"
workflow_inputs_json_path = "./workflows/infer_msi_status/infer_msi_status_inputs.json"

[terra.call_structural_variants]
method_namespace = "cds-pipelines"
method_name = "call_structural_variants"
method_config_namespace = "cds-pipelines"
method_config_name = "call_structural_variants"
method_synopsis = "Call structural variants"
workflow_wdl_path = "./workflows/call_structural_variants/call_structural_variants.wdl"
method_config_json_path = "./workflows/call_structural_variants/call_structural_variants.json"
workflow_inputs_json_path = "./workflows/call_structural_variants/call_structural_variants_inputs.json"

[terra.annotate_structural_variants]
method_namespace = "cds-pipelines"
method_name = "annotate_structural_variants"
method_config_namespace = "cds-pipelines"
method_config_name = "annotate_structural_variants"
method_synopsis = "Annotate structural variants"
workflow_wdl_path = "./workflows/annotate_structural_variants/annotate_structural_variants.wdl"
method_config_json_path = "./workflows/annotate_structural_variants/annotate_structural_variants.json"
workflow_inputs_json_path = "./workflows/annotate_structural_variants/annotate_structural_variants_inputs.json"

[terra.select_structural_variants]
method_namespace = "cds-pipelines"
method_name = "select_structural_variants"
method_config_namespace = "cds-pipelines"
method_config_name = "select_structural_variants"
method_synopsis = "Postprocess annotated structural variants to extract and rescue somatic variants"
workflow_wdl_path = "./workflows/select_structural_variants/select_structural_variants.wdl"
method_config_json_path = "./workflows/select_structural_variants/select_structural_variants.json"
workflow_inputs_json_path = "./workflows/select_structural_variants/select_structural_variants_inputs.json"

[terra.call_cnvs]
method_namespace = "cds-pipelines"
method_name = "call_cnvs"
method_config_namespace = "cds-pipelines"
method_config_name = "call_cnvs"
method_synopsis = "Call CNVs"
workflow_wdl_path = "./workflows/call_cnvs/call_cnvs.wdl"
method_config_json_path = "./workflows/call_cnvs/call_cnvs.json"
workflow_inputs_json_path = "./workflows/call_cnvs/call_cnvs_inputs.json"

[terra.call_mutations]
method_namespace = "cds-pipelines"
method_name = "call_mutations"
method_config_namespace = "cds-pipelines"
method_config_name = "call_mutations"
method_synopsis = "Call mutations"
workflow_wdl_path = "./workflows/call_mutations/call_mutations.wdl"
method_config_json_path = "./workflows/call_mutations/call_mutations.json"
workflow_inputs_json_path = "./workflows/call_mutations/call_mutations_inputs.json"

[terra.prep_annotations]
method_namespace = "cds-pipelines"
method_name = "prep_annotations"
method_config_namespace = "cds-pipelines"
method_config_name = "prep_annotations"
method_synopsis = "Prep called mutations for annotation"
workflow_wdl_path = "./workflows/prep_annotations/prep_annotations.wdl"
method_config_json_path = "./workflows/prep_annotations/prep_annotations.json"
workflow_inputs_json_path = "./workflows/prep_annotations/prep_annotations_inputs.json"

[terra.annotate_mutations]
method_namespace = "cds-pipelines"
method_name = "annotate_mutations"
method_config_namespace = "cds-pipelines"
method_config_name = "annotate_mutations"
method_synopsis = "Annotate mutations"
workflow_wdl_path = "./workflows/annotate_mutations/annotate_mutations.wdl"
method_config_json_path = "./workflows/annotate_mutations/annotate_mutations.json"
workflow_inputs_json_path = "./workflows/annotate_mutations/annotate_mutations_inputs.json"

[terra.annotate_mutations_merge]
method_namespace = "cds-pipelines"
method_name = "annotate_mutations_merge"
method_config_namespace = "cds-pipelines"
method_config_name = "annotate_mutations_merge"
method_synopsis = "Merge info fields in annotation mutations VCF files"
workflow_wdl_path = "./workflows/annotate_mutations_merge/annotate_mutations_merge.wdl"
method_config_json_path = "./workflows/annotate_mutations_merge/annotate_mutations_merge.json"
workflow_inputs_json_path = "./workflows/annotate_mutations_merge/annotate_mutations_merge_inputs.json"

[terra.select_somatic_variants]
method_namespace = "cds-pipelines"
method_name = "select_somatic_variants"
method_config_namespace = "cds-pipelines"
method_config_name = "select_somatic_variants"
method_synopsis = "Postprocess annotated mutations to extract and rescue somatic variants"
workflow_wdl_path = "./workflows/select_somatic_variants/select_somatic_variants.wdl"
method_config_json_path = "./workflows/select_somatic_variants/select_somatic_variants.json"
workflow_inputs_json_path = "./workflows/select_somatic_variants/select_somatic_variants_inputs.json"

[terra.make_guide_mutation_beds]
method_namespace = "cds-pipelines"
method_name = "make_guide_mutation_beds"
method_config_namespace = "cds-pipelines"
method_config_name = "make_guide_mutation_beds"
method_synopsis = "Make guide mutation BED files"
workflow_wdl_path = "./workflows/make_guide_mutation_beds/make_guide_mutation_beds.wdl"
method_config_json_path = "./workflows/make_guide_mutation_beds/make_guide_mutation_beds.json"
workflow_inputs_json_path = "./workflows/make_guide_mutation_beds/make_guide_mutation_beds_inputs.json"

[terra.bam_to_cram]
method_namespace = "cds-pipelines"
method_name = "bam_to_cram"
method_config_namespace = "cds-pipelines"
method_config_name = "bam_to_cram"
method_synopsis = "Convert BAM to CRAM"
workflow_wdl_path = "./workflows/bam_to_cram/bam_to_cram.wdl"
method_config_json_path = "./workflows/bam_to_cram/bam_to_cram.json"
workflow_inputs_json_path = "./workflows/bam_to_cram/bam_to_cram_inputs.json"

[terra.cram_to_bam]
method_namespace = "cds-pipelines"
method_name = "cram_to_bam"
method_config_namespace = "cds-pipelines"
method_config_name = "cram_to_bam"
method_synopsis = "Convert CRAM to BAM"
workflow_wdl_path = "./workflows/cram_to_bam/cram_to_bam.wdl"
method_config_json_path = "./workflows/cram_to_bam/cram_to_bam.json"
workflow_inputs_json_path = "./workflows/cram_to_bam/cram_to_bam_inputs.json"

[ref.hg19]
ref_alt = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.alt"
ref_amb = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.amb"
ref_ann = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.ann"
ref_bwt = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.bwt"
ref_dict = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.dict"
ref_fasta = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta"
ref_fasta_index = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.fai"
ref_pac = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.pac"
ref_sa = "gs://ccleparams/reference/hg19/Homo_sapiens_assembly19.fasta.sa"

[ref.hg38]
ref_alt = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.alt"
ref_amb = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.amb"
ref_ann = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.ann"
ref_bwt = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.bwt"
ref_dict = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.dict"
ref_fasta = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta"
ref_fasta_index = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.fai"
ref_pac = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.pac"
ref_sa = "gs://ccleparams/hg38ref/Homo_sapiens_assembly38.fasta.sa"
